<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"> <!-- Подключаем внешний CSS файл -->
</head>
<body>
<div class="background-image"></div> <!-- Этот блок будет содержать фоновое изображение -->
<div class="container mt-5">
    <!-- Применяем класс к заголовкам -->
    <h1 class="display-1 bree-serif-regular">Анализатор страниц</h1>
    <!-- Применяем класс к абзацам -->
    <p class="lead mb-4 bree-serif-regular">Бесплатно проверяйте сайты на SEO пригодность</p>

    <!-- Форма для ввода URL -->
    <form action="/urls" method="post" class="d-flex">
        <input type="text" class="form-control form-control-lg me-2" id="urlInput" name="url" placeholder="Ссылка">
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>

    <div class="button-container">
        <!-- Кнопка "Проверки SEO" в виде текста -->
        <a href="/urls" class="link-btn">Все Сайты</a>
        <a href="/urls/results" class="link-btn">Рекомендации</a>
        <span id="seoButton" class="link-btn">Проверки SEO</span>
    </div>

    <!-- Список ссылок -->
    <div class="mt-3 links" style="display: none;">
        <a href="/urls/checks" class="link-btn">Проверенные на теги сайты</a>
        <a href="/urls/tfidfchecks" class="link-btn">Проверенные на TFIDF сайты</a>
        <a href="/urls/pagespeedresults" class="link-btn">Результаты проверки на скорость загрузки</a>
        <a href="/urls/linkcheckresults" class="link-btn">Результаты проверки внешних и внутренних ссылок</a>
        <a href="/urls/table" class="link-btn">Результаты аппроксимации</a>
    </div>

</div>

<footer>
    &copy; 2024 - Created by Evdokiya Afanaseva
</footer>

<!-- Подключение скриптов Bootstrap через WebJars -->
<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

<!-- JavaScript код для управления видимостью списка ссылок -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Находим кнопку "Проверки SEO"
    var seoButton = document.getElementById('seoButton');

    // Находим список ссылок
    var linksList = document.querySelector('.links');

    // Добавляем обработчик события клика на кнопку
    seoButton.addEventListener('click', function() {
        // Переключаем видимость списка ссылок при каждом клике
        if (linksList.style.display === 'none' || linksList.style.display === '') {
            linksList.style.display = 'block';
        } else {
            linksList.style.display = 'none';
        }
    });
});
</script>

</body>
</html>
