<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список URL</title>
    <link rel="stylesheet" href="styles.css"> <!-- Ссылка на файл стилей -->
</head>
<body>
<h1>Сайты</h1>

<ul id="urls-list">
    <!-- Список URL будет динамически добавлен с помощью JavaScript -->
</ul>

<!-- Скрипт для загрузки и форматирования списка URL -->
<script>
    // Получаем JSON из атрибута контекста
    var jsonUrls = '{{jsonUrls}}';

    // Функция для загрузки списка URL и добавления его на страницу
    function loadUrls() {
        var urlsList = document.getElementById('urls-list');
        // Парсим JSON и создаем элементы для списка URL
        var urls = JSON.parse(jsonUrls);
        urls.forEach(url => {
            var listItem = document.createElement('li');
            listItem.innerHTML = `
                <p>ID: ${url.id}</p>
                <p>Name: ${url.name}</p>
                <p>Created At: ${formatCreatedAt(url.createdAt)}</p>
            `;
            urlsList.appendChild(listItem);
        });
    }

    // Функция для форматирования даты и времени
    function formatCreatedAt(createdAt) {
        var date = new Date(createdAt);
        var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 6 };
        return date.toLocaleString('ru-RU', options);
    }

    // Вызов функции загрузки списка URL при загрузке страницы
    document.addEventListener('DOMContentLoaded', loadUrls);
</script>

</body>
</html>