<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список URL</title>
    <link rel="stylesheet" href="styles.css"> <!-- Ссылка на файл стилей -->
</head>
<body>
<h1>Сайты</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <!-- Список URL будет вставлен с использованием шаблонизации -->
    {{#each urls}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{formatCreatedAt this.createdAt}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>

<!-- Скрипт для форматирования даты и времени -->
<script>
    // Функция для форматирования даты и времени
    function formatCreatedAt(createdAt) {
        var date = new Date(createdAt);
        var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 6 };
        return date.toLocaleString('ru-RU', options);
    }
</script>

</body>
</html>